@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
